*{
    color: black;
}
#greetingHeading{
    margin-top: 0in;
    font-size: 1in;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}
#currentTime{
    margin-top: 1.7in;
    margin-bottom: 0in;
    font-size: 2.2in;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}
#motivational_quotes{
    font-size: 0.15in;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-align: center;
}
#bookmark-list{
    background-color: turquoise;
    width: 400px;
    height: 50px;
}
a.bookmark-container{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
input[type="text"]
{
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}