@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');

*{
    color: black;
}
#greetingHeading{
    margin-top: 0in;
    font-size: 1in;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}
#currentTime{
    margin-top: 1.7in;
    margin-bottom: 0in;
    font-size: 2.2in;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}
#motivational_quotes{
    font-size: 0.15in;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-align: center;
}
.container-heading {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10%;
    text-align: center;
    width: 400px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.container-heading:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.container-heading:focus {
    outline: none;
}

.bookmark-container {
    position: relative;
    left: 20px;
    border-radius: 4px;
    background-color: lawngreen;
    border: none;
    color: #FFFFFF;
    text-align:center;
    font-size: 13px;
    padding: 8px 16px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px 2px;
    height: 50px;
}
.bookmark-container span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.bookmark-container span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.bookmark-container:hover span {
    padding-right: 50px;
}
.bookmark-container span:after {
    opacity: 1;
    right: 0;
}
.website-links {
    text-decoration: none;
}
.remove-bookmark-btn {
    position: relative;
    left: 30px;
    border-radius: 8px;
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: left;
    font-size: 12px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    width: 66px;
    height: 50px;
}
.remove-bookmark-btn:hover {opacity: 0.6}
#task-list-heading{
    position: relative;
    left: 1020px;
}
.col-3{float: left; width: 27.33%; margin: 40px 3%; position: relative;}
.textbox {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    font: 15px/24px "Lato", Arial, sans-serif; 
    color: #333; 
    width: 100%; box-sizing: border-box; letter-spacing: 1px;
    background-color: transparent;
}
.textbox ~ .focus-border {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #4caf50;
    transition: 0.4s;
}
.textbox:focus ~ .focus-border{width: 100%; transition: 0.4s;}